

.sidebar {
  position: fixed;  /* Fixes the sidebar to the screen */
  top: 0;           /* Aligns the sidebar to the top of the page */
  left: 0;          /* Aligns the sidebar to the left of the page */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:darkcyan;
  color:black;
  width: 150px;
  height: 100vh;     /* Full height of the viewport */
  padding: 20px;
  border-right: 2px solid #fbc02d; 
  margin-bottom: 10px;
  
  /* margin-top: -20vh; (You can remove this if not needed) */
}

  
  .avatarContainer {
    margin-bottom: 20px; 
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    border: 2px solid #fbc02d; 
  }
  
  .links {
    width: 100%;
  }
  
  .linkItem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-top:45px;
    margin-right:2px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .linkItem:hover {
    background-color: #fbc02d;  
    transform: scale(1.05); 
  }
  
  .linkItem .icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .linkItem:active {
    transform: scale(0.98); 
  }
  